## Bank Telemarketing Campaign Case Study.

In this case study you’ll be learning Exploratory Data Analytics with the help of a case study on "Bank marketing campaign". This will enable you to understand why EDA is a most important step in the process of Machine Learning.

#### Problem Statement:

 

The bank provides financial services/products such as savings accounts, current accounts, debit cards, etc. to its customers. In order to increase its overall revenue, the bank conducts various marketing campaigns for its financial products such as credit cards, term deposits, loans, etc. These campaigns are intended for the bank’s existing customers. However, the marketing campaigns need to be cost-efficient so that the bank not only increases their overall revenues but also the total profit. You need to apply your knowledge of EDA on the given dataset to analyse the patterns and provide inferences/solutions for the future marketing campaign.

The bank conducted a telemarketing campaign for one of its financial products ‘Term Deposits’ to help foster long-term relationships with existing customers. The dataset contains information about all the customers who were contacted during a particular year to open term deposit accounts.


**What is the term Deposit?**

Term deposits also called fixed deposits, are the cash investments made for a specific time period ranging from 1 month to 5 years for predetermined fixed interest rates. The fixed interest rates offered for term deposits are higher than the regular interest rates for savings accounts. The customers receive the total amount (investment plus the interest) at the end of the maturity period. Also, the money can only be withdrawn at the end of the maturity period. Withdrawing money before that will result in an added penalty associated, and the customer will not receive any interest returns.

Your target is to do end to end EDA on this bank telemarketing campaign data set to infer knowledge that where bank has to put more effort to improve it's positive response rate.

#### Importing the libraries.

In [1]:
#import the warnings.
import warnings
warnings.filterwarnings("ignore") # ignore all warnings

In [2]:
#import the useful libraries.
import pandas as pd, numpy as np
import matplotlib.pyplot as plt, seaborn as sns
%matplotlib inline

## Session- 2, Data Cleaning

### Segment- 2, Data Types

There are multiple types of data types available in the data set. some of them are numerical type and some of categorical type. You are required to get the idea about the data types after reading the data frame. 

Following are the some of the types of variables:
- **Numeric data type**: banking dataset: salary, balance, duration and age.
- **Categorical data type**: banking dataset: education, job, marital, poutcome and month etc.
- **Ordinal data type**: banking dataset: Age group.
- **Time and date type** 
- **Coordinates type of data**: latitude and longitude type.

#### Read in the Data set.

In [3]:
#read the data set of "bank telemarketing campaign" in inp0.
inp0= pd.read_csv("bank_marketing_updated_v1.csv") 
inp0.head()

,banking marketing,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,customer id and age.,NaN,Customer salary and balance.,NaN,Customer marital status and job with education...,NaN,particular customer before targeted or not,NaN,Loan types: loans or housing loans,NaN,Contact type,NaN,month of contact,duration of call,NaN,NaN,NaN,outcome of previous contact,response of customer after call happned
1,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
2,1,58,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
3,2,44,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
4,3,33,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no

### Data Cleaning

In [4]:
# we can skip the first 2 rows of the data set.
inp0= pd.read_csv("bank_marketing_updated_v1.csv", skiprows=2) 
inp0.head()

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
3,4,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
4,5,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no

##### Dropping customerid column

In [5]:
inp0.drop("customerid", axis = 1, inplace = True) # drop the customerid column
inp0.head()

,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
3,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
4,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no

##### Dividing jobedu into job and education

In [6]:
inp0['job'] = inp0.jobedu.apply(lambda x: x.split(",")[0]) # extract the job from jobedu
inp0['edu'] = inp0.jobedu.apply(lambda x: x.split(",")[1]) # extract the education from jobedu
inp0.head()

,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response,job,edu
0,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no,management,tertiary
1,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no,technician,secondary
2,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no,entrepreneur,secondary
3,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no,blue-collar,unknown
4,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no,unknown,unknown

##### Drop jobedu column

In [7]:
inp0.drop("jobedu", axis = 1, inplace = True) # drop the jobedu column
inp0.head()

,age,salary,balance,marital,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response,job,edu
0,58.0,100000,2143,married,yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no,management,tertiary
1,44.0,60000,29,single,yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no,technician,secondary
2,33.0,120000,2,married,yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no,entrepreneur,secondary
3,47.0,20000,1506,married,no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no,blue-collar,unknown
4,33.0,0,1,single,no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no,unknown,unknown

#### Extract the value of month from the column 'month'

In [8]:
inp0['month'] = inp0.month.apply(lambda x: x.split("_")[0]) # extract the month from month
inp0.head()

AttributeError: 'float' object has no attribute 'split'

In [ ]:
inp0[inp0.month.apply(lambda x: isinstance(x, float)) == True]

,age,salary,balance,marital,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response,job,edu
189,31.0,100000,0,single,no,no,yes,no,unknown,5,NaN,562 sec,1,-1,0,unknown,no,management,tertiary
769,39.0,20000,245,married,yes,no,yes,no,unknown,7,NaN,148 sec,3,-1,0,unknown,no,blue-collar,primary
860,33.0,55000,165,married,yes,no,no,no,unknown,7,NaN,111 sec,1,-1,0,unknown,no,retired,secondary
1267,36.0,50000,114,married,yes,no,yes,yes,unknown,8,NaN,147 sec,1,-1,0,unknown,no,admin.,secondary
1685,34.0,20000,457,married,yes,no,yes,no,unknown,9,NaN,266 sec,1,-1,0,unknown,no,blue-collar,secondary
1899,49.0,16000,164,divorced,yes,no,yes,no,unknown,9,NaN,1080 sec,5,-1,0,unknown,no,housemaid,primary
2433,26.0,60000,3825,married,yes,no,yes,no,unknown,13,NaN,107 sec,1,-1,0,unknown,no,technician,tertiary
2612,38.0,50000,446,single,no,no,yes,no,unknown,13,NaN,386 sec,1,-1,0,unknown,no,admin.,unknown
2747,48.0,120000,2550,married,no,no,yes,no,unknown,14,NaN,175 sec,3,-1,0,unknown,no,entrepreneur,unknown
3556,41.0,20000,59,married,yes,no,yes,no,unknown,15,NaN,75 sec,8,-1,0,unknown,no,blue-collar,secondary
3890,56.0,55000,4391,married,no,no,yes,no,unknown,16,NaN,291 sec,1,-1,0,unknown,no,retired,unknown
5311,22.0,20000,0,single,yes,no,yes,no,unknown,23,NaN,816 sec,2,-1,0,unknown,no,blue-collar,secondary
6265,32.0,50000,13,single,yes,no,yes,no,unknown,27,NaN,88 sec,2,-1,0,unknown,no,admin.,secondary
6396,24.0,70000,0,married,yes,no,yes,no,unknown,27,NaN,299 sec,1,-1,0,unknown,no,services,tertiary
8433,38.0,60000,12926,single,yes,no,yes,no,unknown,3,NaN,280 sec,1,-1,0,unknown,no,technician,secondary
8792,24.0,50000,262,married,yes,no,yes,no,unknown,4,NaN,69 sec,3,-1,0,unknown,no,admin.,secondary
10627,45.0,60000,533,married,yes,no,yes,no,unknown,16,NaN,332 sec,2,-1,0,unknown,no,technician,tertiary
11016,46.0,70000,741,married,yes,no,no,no,unknown,17,NaN,161 sec,3,-1,0,unknown,no,services,primary
11284,44.0,16000,1059,single,yes,no,no,no,unknown,18,NaN,2093 sec,1,-1,0,unknown,yes,housemaid,primary
11394,54.0,60000,415,married,yes,no,yes,no,unknown,19,NaN,34 sec,31,-1,0,unknown,no,technician,secondary
14502,35.0,70000,819,married,yes,no,yes,no,telephone,14,NaN,1.7 min,14,-1,0,unknown,no,services,secondary
15795,38.0,20000,-41,married,yes,no,yes,no,cellular,21,NaN,1.13333333333333 min,10,-1,0,unknown,no,blue-collar,primary
16023,35.0,60000,328,married,yes,no,yes,no,cellular,22,NaN,10.9 min,2,-1,0,unknown,yes,technician,tertiary
16850,45.0,55000,25,married,yes,no,no,yes,cellular,25,NaN,1.91666666666667 min,3,-1,0,unknown,no,retired,primary
17568,56.0,70000,0,married,no,no,no,no,cellular,29,NaN,1.38333333333333 min,2,-1,0,unknown,no,services,unknown
18431,42.0,70000,247,single,yes,no,yes,no,cellular,31,NaN,1.9 min,2,-1,0,unknown,no,services,secondary
18942,49.0,50000,949,married,yes,no,no,no,cellular,4,NaN,1.51666666666667 min,1,-1,0,unknown,no,admin.,secondary
19118,38.0,50000,1980,married,yes,no,no,no,cellular,5,NaN,2.93333333333333 min,2,-1,0,unknown,no,admin.,tertiary
19769,36.0,100000,162,married,yes,no,yes,no,cellular,8,NaN,1.25 min,2,-1,0,unknown,no,management,tertiary
21777,56.0,16000,605,married,yes,no,no,no,cellular,19,NaN,3.45 min,6,-1,0,unknown,no,housemaid,primary
21962,36.0,60000,1044,single,yes,no,yes,no,cellular,20,NaN,0.25 min,19,-1,0,unknown,no,technician,secondary
23897,46.0,20000,123,married,yes,no,no,no,cellular,29,NaN,2.8 min,2,-1,0,unknown,no,blue-collar,primary
25658,35.0,60000,8647,married,yes,no,no,no,cellular,19,NaN,2.33333333333333 min,2,-1,0,unknown,no,self-employed,tertiary
27480,31.0,100000,3283,single,no,no,no,no,cellular,21,NaN,6.28333333333333 min,1,-1,0,unknown,no,management,tertiary
28693,26.0,16000,543,married,yes,no,no,no,cellular,30,NaN,2.81666666666667 min,3,-1,0,unknown,no,housemaid,tertiary
30740,32.0,100000,2770,single,no,no,no,no,telephone,6,NaN,0.733333333333333 min,9,-1,0,unknown,no,management,tertiary
31551,54.0,55000,136,married,yes,no,yes,no,cellular,3,NaN,5.86666666666667 min,1,332,2,failure,no,retired,primary
35773,52.0,20000,33,married,no,no,no,no,telephone,8,NaN,5.01666666666667 min,1,-1,0,unknown,no,blue-collar,unknown
37194,36.0,20000,1969,married,yes,no,yes,yes,cellular,13,NaN,1.45 min,1,-1,0,unknown,no,blue-collar,secondary
37819,34.0,20000,237,married,yes,no,yes,no,cellular,14,NaN,1.91666666666667 min,3,-1,0,unknown,no,blue-collar,secondary
38158,34.0,60000,1317,divorced,no,no,yes,no,cellular,15,NaN,3.98333333333333 min,1,-1,0,unknown,no,technician,tertiary
39188,30.0,60000,778,single,yes,no,yes,no,cellular,18,NaN,0.366666666666667 min,2,346,2,failure,no,technician,secondary
41090,35.0,100000,7218,single,no,no,no,no,cellular,14,NaN,3.73333333333333 min,3,-1,0,unknown,no,management,tertiary
41434,43.0,100000,13450,married,yes,no,yes,no,cellular,4,NaN,2.13333333333333 min,1,-1,0,unknown,no,management,tertiary
41606,25.0,100000,808,single,no,no,no,no,cellular,18,NaN,4.45 min,2,114,2,failure,yes,management,tertiary
43001,35.0,60000,353,single,no,no,no,no,cellular,11,NaN,5.86666666666667 min,1,183,1,success,yes,self-employed,tertiary
43021,52.0,100000,4675,married,yes,no,no,no,cellular,12,NaN,3.01666666666667 min,3,-1,0,unknown,yes,management,tertiary
43323,54.0,70000,0,divorced,yes,no,no,no,cellular,18,NaN,6.03333333333333 min,1,290,3,success,yes,services,secondary
44131,27.0,100000,843,single,yes,no,no,no,cellular,12,NaN,2.05 min,2,185,1,success,no,management,secondary
44732,23.0,4000,508,single,no,no,no,no,cellular,8,NaN,3.5 min,1,92,1,failure,no,student,tertiary

#### Checking missing values

In [ ]:
inp0.isnull().sum() # check the null values in the data set

age         20
salary       0
balance      0
marital      0
targeted     0
default      0
housing      0
loan         0
contact      0
day          0
month       50
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
response    30
job          0
edu          0
dtype: int64

In [ ]:
inp0.shape

(45211, 19)

##### Handling missing values

In [ ]:
float(100.0*20/45211) # calculate the percentage of null values in the data set

0.04423702196368141

In [ ]:
# Drop records with age missing 
inp1 = inp0[~inp0.age.isnull()].copy()
inp1.shape

(45191, 19)

In [ ]:
inp1.age.isnull().sum()

np.int64(0)

In [ ]:
# Handle the missing values in the 'month' column
inp1.month.value_counts(normalize=True)

month
may, 2017    0.304380
jul, 2017    0.152522
aug, 2017    0.138123
jun, 2017    0.118141
nov, 2017    0.087880
apr, 2017    0.064908
feb, 2017    0.058616
jan, 2017    0.031058
oct, 2017    0.016327
sep, 2017    0.012760
mar, 2017    0.010545
dec, 2017    0.004741
Name: proportion, dtype: float64

In [ ]:
month_mode = inp1.month.mode()[0] # get the mode of the month column
month_mode

'may, 2017'

In [ ]:
inp1.month.fillna(month_mode, inplace = True) # fill the missing values with the mode
inp1.month.value_counts(normalize = True) # check the month column again

month
may, 2017    0.305149
jul, 2017    0.152353
aug, 2017    0.137970
jun, 2017    0.118010
nov, 2017    0.087783
apr, 2017    0.064836
feb, 2017    0.058551
jan, 2017    0.031024
oct, 2017    0.016309
sep, 2017    0.012746
mar, 2017    0.010533
dec, 2017    0.004735
Name: proportion, dtype: float64

In [ ]:
inp1.month.isnull().sum()

np.int64(0)

In [ ]:
inp1.pdays.describe() # check the pdays column

count    45191.000000
mean        40.181253
std        100.074099
min         -1.000000
25%         -1.000000
50%         -1.000000
75%         -1.000000
max        871.000000
Name: pdays, dtype: float64

-1 indicates that the values !!!

#### How to handle missing values ?

##### Remember our objective!

- we want the missing values to be ignored in the calculations
- simply make it missing - replace -1 with NaN
- all summary statistics - mean, median etc. will ignore NaN values

In [ ]:
inp1.loc[inp1.pdays <0, "pdays"] = np.nan # replace the pdays values less than 0 with NaN
inp1.pdays.describe() # check the pdays column again

count    8252.000000
mean      224.523752
std       115.202715
min         1.000000
25%       133.000000
50%       194.500000
75%       327.000000
max       871.000000
Name: pdays, dtype: float64

In [ ]:
#Print the head of the data frame.

### Segment- 3, Fixing the Rows and Columns

Checklist for fixing rows:
- **Delete summary rows**: Total and Subtotal rows
- **Delete incorrect rows**: Header row and footer row
- **Delete extra rows**: Column number, indicators, Blank rows, Page No.

Checklist for fixing columns:
- **Merge columns for creating unique identifiers**, if needed, for example, merge the columns State and City into the column Full address.
- **Split columns to get more data**: Split the Address column to get State and City columns to analyse each separately. 
- **Add column names**: Add column names if missing.
- **Rename columns consistently**: Abbreviations, encoded columns.
- **Delete columns**: Delete unnecessary columns.
- **Align misaligned columns**: The data set may have shifted columns, which you need to align correctly.

#### Read the file without unnecessary headers.

In [ ]:
#read the file in inp0 without first two rows as it is of no use.
inp0=

In [ ]:
#print the head of the data frame.

In [ ]:
#print the information of variables to check their data types.

In [ ]:
#convert the age variable data type from float to integer.

In [ ]:
#print the average age of customers.

#### Dropping customer id column.

In [ ]:
#drop the customer id as it is of no use.

#### Dividing "jobedu" column into job and education categories.

In [ ]:
#Extract job in newly created 'job' column from "jobedu" column.
inp0['job']=

In [ ]:
#Extract education in newly created 'education' column from "jobedu" column.
inp0['education']=

In [ ]:
#drop the "jobedu" column from the dataframe.

### Segment- 4, Impute/Remove missing values

Take aways from the lecture on missing values:

- **Set values as missing values**: Identify values that indicate missing data, for example, treat blank strings, "NA", "XX", "999", etc., as missing.
- **Adding is good, exaggerating is bad**: You should try to get information from reliable external sources as much as possible, but if you can’t, then it is better to retain missing values rather than exaggerating the existing rows/columns.
- **Delete rows and columns**: Rows can be deleted if the number of missing values is insignificant, as this would not impact the overall analysis results. Columns can be removed if the missing values are quite significant in number.
- **Fill partial missing values using business judgement**: Such values include missing time zone, century, etc. These values can be identified easily.

Types of missing values:
- **MCAR**: It stands for Missing completely at random (the reason behind the missing value is not dependent on any other feature).
- **MAR**: It stands for Missing at random (the reason behind the missing value may be associated with some other features).
- **MNAR**: It stands for Missing not at random (there is a specific reason behind the missing value).

#### handling missing values in age column.

In [ ]:
#count the missing values in age column.

In [ ]:
#pring the shape of dataframe inp0

In [ ]:
#calculate the percentage of missing values in age column.

Drop the records with age missing.

In [ ]:
#drop the records with age missing in inp0 and copy in inp1 dataframe.
inp1=

#### handling missing values in month column

In [ ]:
#count the missing values in month column in inp1.

In [ ]:
#print the percentage of each month in the data frame inp1.

In [ ]:
#find the mode of month in inp1

In [ ]:
# fill the missing values with mode value of month in inp1.

In [ ]:
#let's see the null values in the month column.

#### handling missing values in response column

In [ ]:
#count the missing values in response column in inp1.

In [ ]:
#calculate the percentage of missing values in response column.

Target variable is better of not imputed.
- Drop the records with missing values.

In [ ]:
#drop the records with response missings in inp1.

In [ ]:
#calculate the missing values in each column of data frame: inp1.

#### handling pdays column.

In [ ]:
#describe the pdays column of inp1.

-1 indicates the missing values.
Missing value does not always be present as null.
How to handle it:

Objective is:
- you should ignore the missing values in the calculations
- simply make it missing - replace -1 with NaN.
- all summary statistics- mean, median etc. we will ignore the missing values of pdays.

In [ ]:
#describe the pdays column with considering the -1 values.

### Segment- 5, Handling Outliers

Major approaches to the treat outliers:
 		
- **Imputation**
- **Deletion of outliers**
- **Binning of values**
- **Cap the outlier**

#### Age variable

In [ ]:
#describe the age variable in inp1.

In [ ]:
#plot the histogram of age variable.

In [ ]:
#plot the boxplot of age variable.

#### Salary variable

In [ ]:
#describe the salary variable of inp1.

In [ ]:
#plot the boxplot of salary variable.

#### Balance variable

In [ ]:
#describe the balance variable of inp1.

In [ ]:
#plot the boxplot of balance variable.

In [ ]:
#plot the boxplot of balance variable after scaling in 8:2.

In [ ]:
#print the quantile (0.5, 0.7, 0.9, 0.95 and 0.99) of balance variable

### Segment- 6, Standardising values

Checklist for data standardization exercises:
- **Standardise units**: Ensure all observations under one variable are expressed in a common and consistent unit, e.g., convert lbs to kg, miles/hr to km/hr, etc.
- **Scale values if required**: Make sure all the observations under one variable have a common scale.
- **Standardise precision** for better presentation of data, e.g., change 4.5312341 kg to 4.53 kg.
- **Remove extra characters** such as common prefixes/suffixes, leading/trailing/multiple spaces, etc. These are irrelevant to analysis.
- **Standardise case**: String variables may take various casing styles, e.g., UPPERCASE, lowercase, Title Case, Sentence case, etc.
- **Standardise format**: It is important to standardise the format of other elements such as date, name, etce.g., change 23/10/16 to 2016/10/23, “Modi, Narendra” to “Narendra Modi", etc.

#### Duration variable

In [ ]:
#describe the duration variable of inp1

In [ ]:
#convert the duration variable into single unit i.e. minutes. and remove the sec or min prefix.

In [ ]:
#describe the duration variable

## Session- 3, Univariate Analysis

### Segment- 2, Categorical unordered univariate analysis

Unordered data do not have the notion of high-low, more-less etc. Example:
- Type of loan taken by a person = home, personal, auto etc.
- Organisation of a person = Sales, marketing, HR etc.
- Job category of persone.
- Marital status of any one.

#### Marital status

In [ ]:
#calculate the percentage of each marital status category.

In [ ]:
#plot the bar graph of percentage marital status categories

#### Job

In [ ]:
#calculate the percentage of each job status category.

In [ ]:
#plot the bar graph of percentage job categories

### Segment- 3, Categorical ordered univariate analysis

Ordered variables have some kind of ordering. Some examples of bank marketing dataset are:
- Age group= <30, 30-40, 40-50 and so on.
- Month = Jan-Feb-Mar etc.
- Education = primary, secondary and so on.

#### Education

In [ ]:
#calculate the percentage of each education category.

In [ ]:
#plot the pie chart of education categories

#### poutcome

In [ ]:
#calculate the percentage of each poutcome category.

#### Response the target variable

In [ ]:
#calculate the percentage of each response category.

In [ ]:
#plot the pie chart of response categories

## Session- 4, Bivariate and Multivariate Analysis

### Segment-2, Numeric- numeric analysis

There are three ways to analyse the numeric- numeric data types simultaneously.
- **Scatter plot**: describes the pattern that how one variable is varying with other variable.
- **Correlation matrix**: to describe the linearity of two numeric variables.
- **Pair plot**: group of scatter plots of all numeric variables in the data frame.

In [ ]:
#plot the scatter plot of balance and salary variable in inp1

In [ ]:
#plot the scatter plot of balance and age variable in inp1

In [ ]:
#plot the pair plot of salary, balance and age in inp1 dataframe.

#### Correlation heat map

In [ ]:
#plot the correlation matrix of salary, balance and age in inp1 dataframe.

### Segment- 4, Numerical categorical variable

#### Salary vs response

In [ ]:
#groupby the response to find the mean of the salary with response no & yes seperatly.

In [ ]:
#groupby the response to find the median of the salary with response no & yes seperatly.

In [ ]:
#plot the box plot of salary for yes & no responses.

#### Balance vs response

In [ ]:
#plot the box plot of balance for yes & no responses.

In [ ]:
#groupby the response to find the mean of the balance with response no & yes seperatly.

In [ ]:
#groupby the response to find the median of the balance with response no & yes seperatly.

##### 75th percentile

In [ ]:
#function to find the 75th percentile.
def p75(x):
    return np.quantile(x, 0.75)

In [ ]:
#calculate the mean, median and 75th percentile of balance with response

In [ ]:
#plot the bar graph of balance's mean an median with response.

#### Education vs salary

In [ ]:
#groupby the education to find the mean of the salary education category.

In [ ]:
#groupby the education to find the median of the salary for each education category.

#### Job vs salary

In [ ]:
#groupby the job to find the mean of the salary for each job category.

### Segment- 5, Categorical categorical variable

In [ ]:
#create response_flag of numerical data type where response "yes"= 1, "no"= 0

#### Education vs response rate

In [ ]:
#calculate the mean of response_flag with different education categories.

#### Marital vs response rate

In [ ]:
#calculate the mean of response_flag with different marital status categories.

In [ ]:
#plot the bar graph of marital status with average value of response_flag

#### Loans vs response rate

In [ ]:
#plot the bar graph of personal loan status with average value of response_flag

#### Housing loans vs response rate

In [ ]:
#plot the bar graph of housing loan status with average value of response_flag

#### Age vs response

In [ ]:
#plot the boxplot of age with response_flag

##### making buckets from age columns

In [ ]:
#create the buckets of <30, 30-40, 40-50 50-60 and 60+ from age column.

In [ ]:
#plot the percentage of each buckets and average values of response_flag in each buckets. plot in subplots.

In [ ]:
#plot the bar graph of job categories with response_flag mean value.

### Segment-6, Multivariate analysis

#### Education vs marital vs response

In [ ]:
#create heat map of education vs marital vs response_flag

#### Job vs marital vs response

In [ ]:
#create the heat map of Job vs marital vs response_flag.

#### Education vs poutcome vs response

In [ ]:
#create the heat map of education vs poutcome vs response_flag.