#### Missing Values

- Description:
Print out the number of missing values in each column in the given dataframe.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')
df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23.0,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13.0,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26.0,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43.0,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35.0,1219.87,26.30,0.38

In [2]:
df.isnull()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8394,False,False,False,False,True,True,True,True,True,True
8395,False,False,False,False,True,True,True,True,True,True
8396,False,False,False,False,True,True,True,True,True,True
8397,False,False,False,False,True,True,True,True,True,True
8398,False,False,False,False,True,True,True,True,True,True

In [3]:
df.isnull().sum()

Ord_id                   0
Prod_id                  0
Ship_id                  0
Cust_id                  0
Sales                   20
Discount                55
Order_Quantity          55
Profit                  55
Shipping_Cost           55
Product_Base_Margin    109
dtype: int64

In [5]:
df.isnull().sum(axis=1)

0       0
1       0
2       0
3       0
4       0
       ..
8394    6
8395    6
8396    6
8397    6
8398    6
Length: 8399, dtype: int64

In [6]:
round(100 * (df.isnull().sum() / len(df.index)),2)

Ord_id                 0.00
Prod_id                0.00
Ship_id                0.00
Cust_id                0.00
Sales                  0.24
Discount               0.65
Order_Quantity         0.65
Profit                 0.65
Shipping_Cost          0.65
Product_Base_Margin    1.30
dtype: float64

In [7]:
# count the number of rows having > 5 missing values
# use len(df.index)
len(df[df.isnull().sum(axis = 1) > 5].index)

20

In [9]:
# removing the rows with more than 5 missing values
df.dropna(thresh = len(df.columns)*0.7, axis = 0, inplace = True)
round(100 * (df.isnull().sum() / len(df.index)),2)

Ord_id                 0.00
Prod_id                0.00
Ship_id                0.00
Cust_id                0.00
Sales                  0.00
Discount               0.00
Order_Quantity         0.00
Profit                 0.00
Shipping_Cost          0.00
Product_Base_Margin    0.74
dtype: float64

In [10]:
len(df[df.isnull().sum(axis = 1) > 5].index)

0

In [14]:
# Impute the mean value for Product_Base_Margin
mean_value = df['Product_Base_Margin'].mean()
df['Product_Base_Margin'].fillna(mean_value, inplace=True)

# Print the percentage of missing values in each column
print(round(100 * (df.isnull().sum() / len(df.index)), 2))

Ord_id                 0.0
Prod_id                0.0
Ship_id                0.0
Cust_id                0.0
Sales                  0.0
Discount               0.0
Order_Quantity         0.0
Profit                 0.0
Shipping_Cost          0.0
Product_Base_Margin    0.0
dtype: float64

C:\Users\abhis\AppData\Local\Temp\ipykernel_8036\2734622649.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product_Base_Margin'].fillna(mean_value, inplace=True)

In [15]:
df['Product_Base_Margin'].describe()

count    8344.000000
mean        0.512456
std         0.135065
min         0.350000
25%         0.380000
50%         0.520000
75%         0.590000
max         0.850000
Name: Product_Base_Margin, dtype: float64