In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

# convert csv into xlsx
# Read the CSV file
df = pd.read_csv('car_sales.csv')

# Write to an Excel file
df.to_excel('car_sales.xlsx', index=False)

### Importing Data from excel files

In [3]:
pd.read_excel('car_sales.xlsx')

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

### READING text files

In [4]:
pd.read_csv('companies.txt', sep='\t', encoding = 'latin-1')

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/ÃAsys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

### JSON

In [5]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [6]:
pd.read_json('http://api.open-notify.org/astros.json')

                                              people  number  message
0         {'craft': 'ISS', 'name': 'Oleg Kononenko'}      12  success
1           {'craft': 'ISS', 'name': 'Nikolai Chub'}      12  success
2   {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}      12  success
3       {'craft': 'ISS', 'name': 'Matthew Dominick'}      12  success
4        {'craft': 'ISS', 'name': 'Michael Barratt'}      12  success
5          {'craft': 'ISS', 'name': 'Jeanette Epps'}      12  success
6    {'craft': 'ISS', 'name': 'Alexander Grebenkin'}      12  success
7          {'craft': 'ISS', 'name': 'Butch Wilmore'}      12  success
8        {'craft': 'ISS', 'name': 'Sunita Williams'}      12  success
9        {'craft': 'Tiangong', 'name': 'Li Guangsu'}      12  success
10          {'craft': 'Tiangong', 'name': 'Li Cong'}      12  success
11       {'craft': 'Tiangong', 'name': 'Ye Guangfu'}      12  success

### SQL

In [7]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\abhis\downloads\campusx data science 2.0\.venv\lib\site-packages (2.2.9)

In [8]:
import mysql.connector

In [9]:
conn = mysql.connector.connect(host='localhost', user='root', password='abhi12345#C', database = 'world')

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)

In [ ]:
pd.read_sql_query("SELECT * FROM city WHERE CountryCode = 'IND' " ,conn)

### Pandas Export:
- CSV
- Excel
- JSON
- HTML
- SQL

In [ ]:
# Exporting to CSV
df.to_csv('car_sales.csv', index=False)

In [ ]:
# Exporting to Excel
df.to_excel('car_sales2.xlsx', index=False)

In [ ]:
# Exporting to JSON
df.to_json('car_sales.json', orient='records', lines=True)

In [ ]:
# Exporting to HTML
df.to_html('car_sales.html', index=False)

In [ ]:
# Exporting to SQL
import sqlite3
conn = sqlite3.connect('car_sales.db')
df.to_sql('car_sales', conn, if_exists='replace', index=False)

In [ ]:
# Exporting to MySQL
import pymysql
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:abhi12345#C@localhost/world')
df.to_sql('car_sales', engine, if_exists='replace', index=False)

### API :-
- Application Programming Interface
- A set of rules and protocols for building and interacting with software applications.
- APIs allow different software systems to communicate with each other, enabling data exchange and functionality sharing.
- APIs are commonly used to access web services, retrieve data from databases, and integrate different software components.
- APIs can be RESTful (using HTTP requests) or SOAP-based (using XML).
- APIs are widely used in web development, mobile app development, and cloud computing.
- APIs can be public (available to anyone) or private (restricted to specific users or applications).

In [ ]:
import requests

In [ ]:
request = requests.get('https://api.github.com')

In [ ]:
request.json()['current_user_url']

In [ ]:
pd.DataFrame(request.json(),['current_user_url'])

In [ ]:
import requests

# Your TMDB API Key
api_key = "your_api_key_here"

# Example API endpoint
url = f"https://api.themoviedb.org/3/movie/popular?api_key=1399b10224da0ce5fe3dda9a74d12d5c&language=en-US&page=1"

# Make the GET request
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()
    print("Popular Movies:", data['results'])
else:
    print(f"Error: {response.status_code}, {response.text}")

In [ ]:
df = pd.DataFrame(response.json()['results'])[['id', 'title', 'release_date', 'overview', 'popularity',  'vote_average', 'vote_count']]

In [ ]:
df.to_csv('movies.csv', index=False)

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
# Make a GET request to the URL
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}
webpage = requests.get('https://www.ambitionbox.com/compare/groww-vs-zerodha', headers=headers).text

In [ ]:
request.status_code

In [10]:
# code here
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd
import numpy as np
# define the url for flipkart phone section
webpage = requests.get('https://www.flipkart.com/search?q=smartphones&page=1').text

In [12]:
soup = BeautifulSoup(webpage, 'html.parser')

In [13]:
all_divs = soup.find_all('div', class_="_2kHMtA")

In [14]:
phone_image_url =[]
phone_name = []
phone_rating = []

In [15]:
for phone in all_divs:
  try:
    phone_image_url.append(phone.find("img", class_="_396cs4")['src'])
  except:
    phone_image_url.append(np.nan)

  try:
    phone_name.append(phone.find("div", class_="_4rR01T").text.strip())
  except:
    phone_name.append(np.nan)

  try:
    phone_rating.append(phone.find("div", class_="_3LWZlK").text.strip())
  except:
    phone_rating.append(np.nan)

In [20]:
df = pd.DataFrame({'phone_img_url':phone_image_url, 'phone_name': phone_name, 'phone_rating':phone_rating})
df

Empty DataFrame
Columns: [phone_img_url, phone_name, phone_rating]
Index: []

In [48]:
import requests, bs4

# getting HTML from the Google Play web page
url = "https://play.google.com/store/apps/details?id=com.facebook.orca&hl=en"
req = requests.get(url)

# create a bs4 object
# To avoid warnings, provide "html5lib" explicitly
soup = bs4.BeautifulSoup(req.text, "html5lib")

FeatureNotFound: Couldn't find a tree builder with the features you requested: html5lib. Do you need to install a parser library?

In [49]:
# getting all text inside class = review-body
reviews = soup.select('.review-body')
print(type(reviews))
print(len(reviews))
print("\n")

# printing an element of the reviews list
print(reviews[6])

<class 'bs4.element.ResultSet'>
0

IndexError: list index out of range

In [47]:
# Practice problem: Scraping amazon.in to get shoe price data
import pprint

url = "https://www.amazon.in/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=sport+shoes"
req = requests.get(url)

# create a bs4 object
# To avoid warnings, provide "html5lib" explicitly
soup = bs4.BeautifulSoup(req.text, "html5lib")

# get shoe names
# shoe_data = soup.select('.a-size-medium')
# shoe_data = soup.select('.a-size-small.a-link-normal.a-text-normal')
# print(len(shoe_data))
# print(pprint.pprint(shoe_data))

# get shoe prices
shoe_prices = soup.select('.a-price-whole')
print(len(shoe_prices))
pprint.pprint(shoe_prices)

FeatureNotFound: Couldn't find a tree builder with the features you requested: html5lib. Do you need to install a parser library?

In [51]:
# Practice problem: Scraping amazon.in to get shoe price data
import pprint
import requests
import bs4

# First install html5lib if not already installed
!pip install html5lib

url = "https://www.amazon.in/shoes/s?k=shoes"
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}
req = requests.get(url, headers=headers)

# Check if request was successful
if req.status_code != 200:
    print(f"Error: Status code {req.status_code}")

# create a bs4 object with html5lib
soup = bs4.BeautifulSoup(req.text, "html5lib")

# get shoe names
# shoe_data = soup.select('.a-size-medium')
# shoe_data = soup.select('.a-size-small.a-link-normal.a-text-normal')
# print(len(shoe_data))
# print(pprint.pprint(shoe_data))

# get shoe prices
shoe_prices = soup.select('.a-price-whole')
print(len(shoe_prices))
pprint.pprint(shoe_prices)

Requirement already satisfied: html5lib in c:\users\abhis\downloads\campusx data science 2.0\.venv\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\abhis\downloads\campusx data science 2.0\.venv\lib\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in c:\users\abhis\downloads\campusx data science 2.0\.venv\lib\site-packages (from html5lib) (0.5.1)

FeatureNotFound: Couldn't find a tree builder with the features you requested: html5lib. Do you need to install a parser library?